<section class="section-footer desktop-visible privacy_po">
    <div class="container text-left">
        <div class="row">


                <div class="privacy_polic">
                <h2 class="contact_about">PRIVACY POLICY </h2>
                <h4 class="space-rows">This Privacy Policy forms an integral part of the terms of Use on the Portal.</h4>
                <p style="margin-top:10px;">Our Company, <span style="font-size: 20px;">M/s. Buzz Sports Entertainment Private
                        Limited</span> (hereinafter referred as <span>“SportsBuzz11”</span>or “we” or
                    “us” or “our”) in our attempt at building an online community of Game lovers for fantasy sports for various
                    sports including Cricket, Football, hockey, kabaddi, basketball etc. through our website <span style="font-size: 20px;">“SportsBuzz11”</span> and
                    mobile/other applications as well as our partner websites/mobile applications (hereinafter referred to as
                    “Portal”). Since playing some of the games involve real money, we take adequate safety measures to ensure the
                    sanctity of the community and an environment of good faith between stakeholders including each and every
                    community member like you. We consider any person using our Portal (hereinafter <span style="font-size: 20px;">“User”/ “You”</span>) or accessing any
                    feature of Portal including contest(s), game(s) as our valued community member and we will like to know You
                    better and hence we collect some of Your personal information for the purpose and we hereby desire to advise
                    that You are hereby notified about how we plan to handle Your data. </p>
                <p>
                    We respect Your privacy and hence we hereby declare how we are going to deal with Your personnel information
                    collected from You and You hereby give Your implied consent by continuing to use the Portal fully aware of this
                    privacy policy. We request You to read this privacy policy to understand how Your personnel information is
                    collected and used by us. If You do not consent to our usage of Your personnel information, please refrain from
                    using the Portal. Please take note that You are well within Your rights to not to provide us certain
                    information, withdraw Your consent for collection/use of Your personal information or alternatively request for
                    temporary suspension or permanent deletion of certain information though we hereby advise you that this may
                    cause You to not avail full access/use of the Portal and will also mean that we may exercise our right to
                    refrain from providing our services to You.
                </p>
                <h3>Information We Collect and Disclosure about Methods of Collection: </h3>
            
                <p>
                </p><div style="display: flex;margin-top: -6px;">
                    ⇾
                    <span style="margin-left: 10px;">All information collected from You, such as registration and payment detail
                        information, is subject to this policy. </span>
                </div>
                <div style="display: flex;position:relative;top:-6px">
                    ⇾
                    <span style="margin-left: 10px;">
                        You will be required to furnish certain information to get registered with our Site to avail our services or
                        play Games like: </span>
                </div>
            
                <div style="margin-left:0px;margin-top: 10px;">
            
            
            
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                       Full Name;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Phone Number;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Residential/Communication Address;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Email Address;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Credit Card Information/Bank Account details;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        ID Proof e.g., PAN Card details &amp; Aadhar details;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Permissions to access Gallery, messages etc. at the time of first login;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Date of Birth/Age;
                                    </span>
                                </div>
                                <div style="display: flex;margin-top: 10px;">
                                    •
                                    <span style="margin-left: 10px;">
                                        Other information.
                                    </span>
                                </div>
                          
            
            
            
            
              <!--       <li>Full Name; </li>
                    <li>Phone Number; </li>
                    <li>Residential/Communication Address; </li>
                    <li>Email Address; </li>
                    <li>Credit Card Information/Bank Account details; </li>
                    <li>ID Proof e.g., PAN Card details & Aadhar details; </li>
                    <li>Permissions to access Gallery, messages etc. at the time of first login;</li>
                    <li>Date of Birth/Age; </li>
                    <li>Other information. </li> -->
                </div>
               
                <div style="display: flex; margin-left: 0px; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        In addition to the information You provide, we may also collect certain information automatically through
                        software/other means. For example, we may collect:</span>
                </div>
            
            
                 <div style="margin-left: 0px;">
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;"> Device information: </span>such as Your hardware model, IMEI number and other unique device identifiers, MAC address, IP address, operating system version, and settings of the device You use to access the Services.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Login information: </span>
                                    such as the time and duration of Your use of our Product, search query terms You enter through the Product, and any other information.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Location information:</span>
                                    such as Your device’s GPS signal or information about nearby Wi-Fi access points and cell towers that may be transmitted to us when You use certain Services.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Other information:</span>
                                    about Your use of the Services, such as the apps You use, the websites You visit, and how You interact with content offered through a Service.
                                </span>
                            </div>
                        </div>
            
            
            
                <p></p>
                <div style="display: flex; margin-left: 0px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We may track and collect certain information automatically like IP Address, Browser Type, Language, browsing
                        behavior, Date of Time of Access, your location as well as the mode of reaching our Portal either through
                        search engine or directly typing in the Browser;</span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        You are hereby advised that in order to provide you certain services, we may also collect Sensitive Personal
                        Information (“SPI”) [as defined under the provisions of Information Technology (Reasonable security
                        practices and procedures and sensitive personal data or information) Rules, 2011]. Please take note that we
                        will not use your SPI or disclose such SPI to any third party except for any financial information that you
                        choose to provide while making payment for any Services on the Portal or as written under this
                        policy.</span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We may also ask for additional information based on game/events/contents you choose to participate on our
                        Portal to enable us to provide you customized services/experience on our Portal.</span>
                </div>
                <h3>Treatment of Personal Information: </h3>
                <div style="display: flex;margin-top: -6px">
                    ⇾
                    <span style="margin-left: 10px;">
                        We respect your confidentiality and keep all the personal information secure and we wish to assure you that
                        we will not share, distribute, trade, sell or rent your personal information to any third party without your
                        consent. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        Our use of your personal information will be restricted for the purposes enumerated in this Privacy Policy
                        read with Terms of Use. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We use cookies and when you visit our Site cookies may be left in your computer to enable us to track your
                        usage and customize the content displayed to you to suit your behavior. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We also use cookies for authentication, game management and security purposes. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We have a detailed Cookie Policy which is displayed at -----. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">We use appropriate security measures to safeguard your information and to
                        protect against unauthorized access to and unlawful interception of Personal Information. However, no
                        internet site can fully eliminate security risks. </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We do not make these e-mail addresses available to any third party. We do not trade or sell your Personal
                        Information in any manner, except as enumerated herein; and </span>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    ⇾
                    <span style="margin-left: 10px;">
                        We may disclose aggregated information about the use of the Site, but we will never contain Personal
                        Information. We do not disclose Personal Information to third parties in the normal course of operations.
                        However, in situations when we are legally obligated to disclose information to the government or other
                        third parties, we will do so.</span>
                </div>
                <h3>Disclosure of Your information: </h3>
                <div style="display: flex;margin-top: -6px">
                    ⇾
                    <span style="margin-left: 10px;">
                        We will not disclose your personal information to third parties for its own independent marketing or
                        business purposes without Your consent. However, we may disclose Your information to the following
                        entities:</span>
                </div>
            
            
                 <div style="margin-left: 0px;">
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;"> Affiliates: </span>information may be shared among our affiliates.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Business Partners: </span>
                                    Our also may share Your information with trusted business partners. These entities may use Your information to provide You with services You request, make predictions about Your interests, and may provide you with promotional materials, advertisements, and other materials.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Service Providers:</span>
                                    We may also may disclose Your information to companies that provide services for on our behalf, such as companies that help us with billing or that send emails on our behalf. These entities are contract bound in their ability to use Your information for purposes other than providing services to us.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Online Advertisers:</span>
                                    We may share your personal information to our advertisers/sponsors to help them understand our community and confirm the value of advertising on the Portal.
                                </span>
                            </div>
            
                                <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Other Parties When Required by Law or as Necessary to Protect Our Services:</span>
                                   may be instances when we discloses Your information to other parties.
                                </span>
                            </div>
            
                             
                        </div>
            
            
            
            
            
                        <div style="display: flex; margin-top: 10px;">
                            ⇾
                            <span style="margin-left: 10px;">To comply with the law or respond to compulsory legal process (such as a search warrant or other court
                                order);</span>
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                            ⇾
                            <span style="margin-left: 10px;">To protect our rights, property, or safety, or any of our respective affiliates, business partners, or
                                customers.</span>
                        </div>
            
            
            
                 <div style="margin-left: 0px;">
                        
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Other Parties in Connection with Corporate Transactions: </span>
                                    We may disclose Your information to a third party as part of a merger or transfer, or in the event of bankruptcy.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                •
                                <span style="margin-left: 10px;">
                                    <span style="font-size: 15px; font-weight: 700;">Other Parties with Your Consent or At Your Direction:</span>
                                    In addition to the disclosures described in this Privacy Policy, we may share information about You with third parties when You consent to or request such sharing.
                                </span>
                            </div>
                
                         
                             
                        </div>
            
            
            
            <!-- 
                        <div style="display: flex; margin-top: 10px;">
                            &#8702;
                            <span style="margin-left: 10px;"><span style="font-size: 19px; margin-left: 5px;">Other Parties in Connection with Corporate Transactions –</span> We may
                            disclose Your information to a third party as part of a merger or transfer, or in the event of bankruptcy.</span>
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                            &#8702;
                            <span style="margin-left: 10px;"><span style="font-size: 19px; margin-left: 5px;">Other Parties with Your Consent or At Your Direction -</span> In addition to
                            the disclosures described in this Privacy Policy, we may share information about You with third parties when
                            You consent to or request such sharing.
                        </div> -->
            
                <h3>Use of Personal Information: </h3>
            
            <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    We may use the information submitted by you to send your promotional messages or emails or notifications for administrative purposes.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                    We use the referral information shared by you to contact the referred persons and you will be eligible referral awards in accordance with our referral programs, if any.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    We may use software or other programs to track website usage, community members’ behavior and gather statistics for our business purposes directly/indirectly to optimize our revenues.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                   You understand that data shared with us is subject to security risks despite our best efforts to safeguard the data.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    Your SportsBuzz11 Account is secured by your login id &amp; password and we advise you to keep them secure. It is your responsibility to protect your login information and if you fail to do so you are liable for the consequences of your action. We advise you to refrain from disclosing your login details to anyone. You are requested to contact us immediately if you have reason to suspect any breach of security including compromise of your log in information.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    Our Site including Applications may contain links to third party websites. Such third-party websites are governed by their own terms of use and privacy policy. We advise you to read the Terms of Use or Privacy Policy of such Websites before accessing their services or submitting your personal details.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    We have a policy of not sharing Your Personal Information with any third parties except our affiliates, advertisers and partners. We reserve the right to use your information and display the name, user id and state from where you are participating while disclosing/advertising the result of any game played on our website.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                 ⇾
                                <span style="margin-left: 10px;">
                                    We may use your personal information for legal or administrative authority to meet our legal obligations or for data analysis, and government request or to enforce terms of service.
                                </span>
                            </div>
            
            
                        </div>
            
            
            
            
            
                <h3>Eligibility: </h3>
            
            
            <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                                ⇾
                                <span style="margin-left: 10px;">
                                   Your eligibility to register/participate in any contest/services provided on the portal are subject to the following criteria-
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                   You may participate in any contest if you reside inside the borders of India and are of 18+ years of age as of the date of commencement of the contest/registration on the Portal.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                   You will be barred from participating in the Paid Contests if You are a resident of any of the Prohibited States within India i.e. States of Telangana, Andhra Pradesh, Nagaland, Assam, Sikkim and Odisha.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                  You will provide true &amp; current information of Date of Birth and your Postal Address in full with mandatory mentions of residing state and PIN. Please note that as we are not in a position to verify your personal details, it will be your responsibility to give the true and accurate details for registration. Incorrect details will result in suspension of your account indefinitely at our discretion.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                    You must provide your valid email address/phone number, during registration or any other subsequent instant when asked by the portal. Any failure on the part of the user to provide such details may lead to the ineligibility of the user to register/participate on the Portal.
                                </span>
                            </div>
            
            
                        </div>
            
            
            
            
                <h3>Age Restriction: </h3>
            
            <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                                ⇾
                                <span style="margin-left: 10px;">
                                  We offer our services to Indian national who have attained majority.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                  Our Services and games are strictly intended for individuals of 18+ years of age who is competent to contractually bind himself under Contract Act, 1872.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                 ⇾
                                <span style="margin-left: 10px;">
                                  We reserve rights to verify your age and competence and if such verification is negative then we may at our sole discretion suspend/terminate your account and forfeit its contents.
                                </span>
                            </div>
                      
            
                        </div>
            
               
                <h3>Corporate Restructuring: </h3>
                <div style="margin-left: 0px;margin-top: -6px">
                     <div style="display: flex;">
                                ⇾
                                 <span style="margin-left: 10px;">
                    On happening of any merger, demerger or other forms of Corporate Restructuring including investment or
                        sale/acquisition, we may have to share your personal information with our potential business partner or Investor
                        or Acquirer or Acquiree. 
                    </span>
                    </div>
                </div>
                
                <h3>Account Validation: </h3>
            
              <div style="margin-left: 0px;margin-top: -6px">
                     <div style="display: flex;">
                                ⇾
                                 <span style="margin-left: 10px;">
            
                    We will validate your account/KYC details via your valid phone number or other media platforms such as
                    Google/Facebook/any other media made available to us for this purpose. However, it should be noted that we
                    reserve our right to validate/cancel your accounts at our sole discretion.
            
                    </span>
                    </div>
                     </div>
            
            
            
                <h3>Consent: </h3>
            
            <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                                ⇾
                                <span style="margin-left: 10px;">
                                 You have expressly consented to use of your personal information by us including our associates and partners in the manner detailed herein by your action by registering or using our website, which you are advised to do after reading and consenting to agree with the terms only.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                  We use third party payment gateway for monetary transactions, and they may collect certain details for processing your financial transactions to identification and verification purpose. We hereby clarify that we do not collect your banking or credit card details in any manner whatsoever and we do not take any responsibility for the data shared by you with the Payment Service Provider.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                 You hereby consent to use of your contact details for reaching you for business/promotional purpose by us or our affiliates.
                                </span>
                            </div>
            
                                <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                 You hereby consent for security checks for verification and Identification purposes whether by us or through third party service providers.
                                </span>
                            </div>
                      
            
                        </div>
            
            
            
                <h3>Request for Suspension/Deletion of Personal Information or User Account: </h3>
            
            
                <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                                ⇾
                                <span style="margin-left: 10px;">
                                You have the right to request for temporary suspension/deletion of your personal information or User Account at any time and You can do so by sending an email request to ------ @------.com.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                                ⇾
                                <span style="margin-left: 10px;">
                                  We will do our best to respond promptly and in any event within one month of the following.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                 Receipt of your request.
                                </span>
                            </div>
            
                                <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                 Receipt of your response to our query, if any.
                                </span>
                            </div>
            
                               <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                You can also ask for temporary suspension of your account. We will act on your request and will do the needful after verifying that such request was made by you only and not by any unauthorised person.
                                </span>
                            </div>
                      
            
                        </div>
            
            
            <!--    <div style="margin-left: 50px;">
                <li>You have the right to request for temporary suspension/deletion of your personal information or User Account at
                    any time and You can do so by sending an email request to ------ @------.com. </li>
                <li style="font-size: 19px;">We will do our best to respond promptly and in any event within one month of the
                    following:</li>
                <li>Receipt of your request; </li>
                <li>Receipt of your response to our query, if any. </li>
                <li>You can also ask for temporary suspension of your account. We will act on your request and will do the needful
                    after verifying that such request was made by you only and not by any unauthorised person. </li>
               </div> -->
                <!-- <br /> -->
                <h3>Applicable Law and Jurisdiction: </h3>
            
            
                   <div style="margin-left: 0px;margin-top: -6px">
                            <div style="display: flex;">
                               ⇾
                                <span style="margin-left: 10px;">
                               You hereby give your consent for applicability of the jurisdiction of Indian Laws applicable to the state of Delhi and jurisdiction of Courts in Delhi.
                                </span>
                            </div>
                            <div style="display: flex;margin-top: 10px;">
                               ⇾
                                <span style="margin-left: 10px;">
                                  All disputes/issues relating to this policy shall be resolved in accordance with our Terms of Use.
                                </span>
                            </div>
            
                      
            
                        </div>
            
            
            
            
                <h3>Updating Information: </h3>
            
                <div style="margin-left: 0px;margin-top: -6px">
            
                    <div style="display: flex;">
                               ⇾
                                <span style="margin-left: 10px;">
                    You will keep us informed about changes/medications to your personal information.
            
                     </span>
                            </div>
                </div>
            
                <h3>Contact Us: </h3>
            
                <div style="margin-left: 0px;margin-top: -6px">
            
                    <div style="display: flex;margin-top: -6px;">
                               ⇾
                                <span style="margin-left: 10px;">
            
                Any questions or clarifications with respect to this Policy or any complaints, comments, concerns or feedback can
                    be sent to SportsBuzz11 at: ___________ or by normal/physical mail addressed To:
            
                     </span>
                            </div>
                </div>
            
                <h4>Attn: SportsBuzz11 Team </h4>
                <h3> M/s BUZZ SPORTS ENTERTAINMENT PRIVATE LIMITED. </h3>

                <br>
                <br>
            
            </div>
                
            
            
          


        </div>
          

        </div>
   
</section>