
  *{line-height: 28px;
    font-size: 17px;}

  .privacy_polic {
    margin-top: 100px;
  }

  .space-rows {
    margin-top: 25px;
  }

.contact_about {
  font-size: 30px;
  text-align: left; 
  font-weight: 700;
}

.privacy_polic h3 {
  margin-top: 10px;
  font-size: 20px !important;
}
